.home {
  
  header {
    background: linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 1)
    ), url('../img/SocialHomepage.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    
    .login {
      max-width: 1200px;
      margin: 0 auto;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      h1 {
        margin: 0 10px;
        color: white;
        font-size: 2rem;
      }

      form {
        display: flex;
      }
    }

    #tagline {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(26, 174, 159, 0.6);
      border-radius: 5px;
      padding: 15px;
      -webkit-box-shadow: 9px 5px 15px 1px rgba(0,0,0,0.25);
      -moz-box-shadow: 9px 5px 15px 1px rgba(0,0,0,0.25);
      box-shadow: 9px 5px 15px 1px rgba(0,0,0,0.25);
    }

    h5 {
      font-size: 3rem;
      color: #fff;
      text-align: center;
      font-weight: 100;
    }

    @media (max-width: 800px) {
      .login {
        flex-direction: column;

        h1 {
          font-size: 2.5rem;
        }

        form {
          flex-direction: column;
        }
      }

      #tagline {
        top: auto;
        bottom: 10px;
        width: 90%;

        h5{
          font-size: 2.5rem;
        }
      }
    }
  }

  .register {
    padding: 60px 10px;

    h2 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 10px;
      font-weight: 100;
    }

    &-content{
      display: flex;
      max-width: 980px;
      margin: 0 auto;

      &--features, &--form {
        flex: 1;
        margin: 10px;
      }

      &--features{

        &__item {
          display: flex;
          align-content: center;
          margin-bottom: 20px;

          .icon {
            font-size: 1.5rem;
            padding: 3px 10px;
            text-align: center;
          }

          h6 {
            font-size: 1.5rem;
            font-weight: 100;
          }
        }
      }

      &--form {

        input {
          padding: 10px;
          margin: 0;
          margin-left: 2px;
          margin-bottom: 4px;
        }
        
        &__name {
          width: calc(50% - 2px);
        }

        &__email, &__password {
          width: calc(100% - 2px);
        }

        &__DOB {
          width: calc(33.333% - 2px);
        }

        button {
          padding: 10px 25px;
        }
      }
    }

    @media (max-width: 800px) {
      &-content{
        flex-direction: column-reverse;

        &--form {

          input {
            width: 100% !important;
          }
        }
        &--features{

          &__item {
            flex-direction: column;
            text-align: center;
            max-width: 300px;
            margin: 20px auto;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {

    form {

      input {
        font-size: 1.25rem;
      }
    }
    button {
      font-size: 1.25rem;
      width: 100%;
      padding: 10px 0;
    }
  }
}