@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Lobster|Vollkorn&display=swap');
@import './styles/home';
@import './styles/map';

// font-family: 'Lobster', ;
// font-family: 'Merriweather Sans', ;
// font-family: 'Vollkorn', ;

* { box-sizing: border-box; padding: 0; margin:  0; }

body {
  font-family: 'Vollkorn';
  color: #333;
}

h1 {
  font-family: 'Lobster';
  font-weight: 100;
}

h2, h3, h4, h5, h6, input, button {
  font-family: 'Merriweather Sans';
}

input {
  border: 2px #999 solid;
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
}

button {
  cursor: pointer;
  margin: 2px;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: #1aae9f;
}